@import './base.css';
@import "tailwindcss";
@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";

html, body {
  @apply bg-slate-50 dark:bg-slate-950 min-h-screen transition-colors duration-300;
}

@layer base {
  :root {
    --background: #f8fafc;
    --text-primary: #1c1917;
    --text-secondary: #57534e;
    --border: rgba(0, 0, 0, 0.05);
  }

  .dark {
    --background: #030213;
    --text-primary: #f5f5f4;    /* Stone-100 */
    --text-secondary: #a8a29e;  /* Stone-400 */
    --border: rgba(255, 255, 255, 0.1);
  }

  /* ALLE Texte automatisch! */
  * {
    color: var(--text-primary);
  }
}

@layer base {
  html.light {
    color-scheme: light !important;
    --color-text: black !important;
  }

  html.dark {
    color-scheme: dark !important;
    --color-text: white !important;
  }
}

#app {
  width:100%;
  max-width: 100%;
  margin: 0;   /* Abstand oben/unten & Zentrierung */
  padding: 0;          /* kein großes padding mehr */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: normal;
  }


  #app {
    padding: 0;
  }

}

@custom-variant dark (&:where(.dark, .dark *));
