@import './base.css';

@import "tailwindcss";
/*
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
*/

/* Flowbite Vue Styles */
@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";

html, body {
  @apply bg-slate-50 dark:bg-slate-900 min-h-screen;
}

@layer base {
  :root {
    --text-primary: #111827;     /* Schwarz Light */
    --text-secondary: #6b7280;   /* Grau Light */
  }

  .dark {
    --text-primary: #f9fafb;     /* Weiss Dark */
    --text-secondary: #d1d5db;   /* Hellgrau Dark */
  }

  /* ALLE Texte automatisch! */
  * {
    color: var(--text-primary);
  }
}



@layer base {
  html.light {
    color-scheme: light !important;
    --color-text: black !important;
  }

  html.dark {
    color-scheme: dark !important;
    --color-text: white !important;
  }
}

#app {
  width: 100%;
  max-width: 1600px;
  margin: 40px auto;   /* Abstand oben/unten & Zentrierung */
  padding: 0;          /* kein großes padding mehr */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: normal;
  }

  #app {
    padding: 0;
  }

}

@custom-variant dark (&:where(.dark, .dark *));
